@charset "UTF-8";
@namespace d url(http://www.apple.com/DTDs/DictionaryService-1.0.rng);

d|entry {
}

h1	{
	font-size: 200%;
}

h3	{
	font-size: 100%;
}

span .rt {
  display: inline-block;
  margin-right: 6px;
  -webkit-writing-mode: vertical-rl;
  font-size: 35%;
  color: gray;
}

span .tone {
  position: relative;
  float: right;
  left: 10px;
  top: -6px;
  font-size: 120%;
}

.part-of-speech {
  color: white;
  background-color: #555;
  border-radius: 3px;
  padding: 1px 2px 1px 2px;
  /*border: 1px solid black;*/
  font-size: 100%;
}