@charset "UTF-8";
@namespace d url(http://www.apple.com/DTDs/DictionaryService-1.0.rng);

d|entry {
}

h1	{
	font-size: 140%;
}

h3	{
	font-size: 100%;
}

.bopomofo {
  display: block;
  margin-top: -14px;
  margin-bottom: 16px;
  color: gray;
  font-size: 80%;
  font-family: BiauKai, serif;
}

.part-of-speech {
  color: white;
  background-color: #555;
  border-radius: 3px;
  padding: 1px 2px 1px 2px;
  font-size: 100%;
}