<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>tw.3du.moe.Dictionary</string>
	<key>CFBundleName</key>
	<string>萌典</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>DCSDictionaryCopyright</key>
	<string>Copyright? 還蚊漁民！</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>tw.3du</string>
	<key>DCSDictionaryPrefsHTML</key>
	<string>MyDictionary_prefs.html</string>
	<key>DCSDictionaryXSL</key>
	<string>MyDictionary.xsl</string>
	<key>DCSDictionaryDefaultPrefs</key>
	<dict>
		<key>pronunciation</key>
		<string>0</string>
	</dict>
</dict>
</plist>
